<div id="display-email" style="border: 0px solid white;">
	<p style="font-size: 20px">Objet : <%= @email.object %></p>
	<p>Contenu : <%= @email.body %></p>
<br/>

  <!-- Div contenant les boutons -->
	<div style="display: flex; flex-direction: row; justify-content: flex-start;">

		<!-- Bouton pour supprimer l'email -->
		<%= link_to "Supprimer", email_path(), method: :delete, class:"btn btn-outline-danger", remote: true %>

		<!-- Bouton pour marquer l'email comme non-lu ou comme lu -->
		<!-- Si l'email n'a pas été lu -->
		<% if @email.read == false %>
			<button style="margin-left: 21px;" class="btn btn-outline-secondary">Marquer comme non-lu</button>
		<!-- Si l'email a été lu -->
		<% else %>
		  <button style="margin-left: 21px;" class="btn btn-outline-secondary">Marquer comme lu</button>
		<% end %>
	</div>
</div>


