<h1>Emails#index</h1>

<!-- Bouton "recevoir un email -->
<a href="/emails/" data-method="POST"><button class="btn btn-primary" style="margin: 23px;">Recevoir un email</button></a>

<!-- Tableau d'affichage des emails -->
<div style="border: 2px solid black; display: flex; flex-direction: row; justify-content: space-between; margin: 23px;">

	<!-- Colonne pour les objets des emails -->
	<div class="col-6" style="border: 2px solid blue;">
		<h2 style="font-size: 20px;">Liste des emails</h2>
	</div>
	
	<!-- Colonne pour le contenu des emails -->
	<div class="col-6" style="border: 2px solid red;">
		<h2 style="font-size: 20px;">Email sélectionné</h2>
	</div>
</div>
